* {
	margin: 0px;
	padding: 0px;
}
html {
	min-width: 500px;
	text-align: center;
	font-size: 2em;
}
#alert {
	margin-top: 10px;
}
body {
	background-color: #E8CAA4
}
.row {
	width:100%;
	overflow: auto;
}
.row article {
	width: 49%;
	float:left;
}
.result {
	color:#CC2A41;
}